<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dunveler.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dunveler.GameSettings>
            <setting name="UIScale" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Sensitivity" serializeAs="String">
                <value>0.15</value>
            </setting>
        </Dunveler.GameSettings>
    </userSettings>
</configuration>